<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button class="delete" aria-label="delete-button">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-flat-button	 (click)="router.navigate(['/alltips'])">
      <p>Alltips</p>
    </button>
    <button mat-flat-button	 (click)="router.navigate(['/questionnaire'])">
      <p>Questionnaire</p>
    </button>
    <button mat-flat-button	 (click)="router.navigate(['/quiz'])">
      <p>Quiz</p>
    </button>
    <button mat-flat-button	 (click)="router.navigate(['/data'])">
      <p>Data Uploader</p>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button (click)="router.navigate(['/data'])" class="search" aria-label="search-button">
      <mat-icon>search</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
