
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a [routerLink]="['/']" (click)="button_color_change('0')" ><img class="logo" src='../../../assets/images/Logo.png' /></a>
      <div mat-grid-list>
      <button
      matRipple [matRippleCentered]="rippleCentered"
      [matRippleDisabled]="rippleDisabled"
      [matRippleUnbounded]="rippleUnbounded"
      mat-flat-button	(click)="button_color_change('1')" [class.myClass]="isClicked1" (click)="router.navigate(['/alltips'])">
        <p>alltips</p>
      </button>
      <button
      matRipple [matRippleCentered]="rippleCentered"
      [matRippleDisabled]="rippleDisabled"
      [matRippleUnbounded]="rippleUnbounded"

      mat-flat-button	(click)="button_color_change('2')" [class.myClass]="isClicked2" (click)="router.navigate(['/questionnaire'])">
        <p>questionnaire</p>
      </button>
      <button
      matRipple [matRippleCentered]="rippleCentered"
      [matRippleDisabled]="rippleDisabled"
     [matRippleUnbounded]="rippleUnbounded"

      mat-flat-button	(click)="button_color_change('3')" [class.myClass]="isClicked3" (click)="router.navigate(['/quiz'])">
        <p>quiz</p>
      </button>
      <button
      matRipple [matRippleCentered]="rippleCentered"
      [matRippleDisabled]="rippleDisabled"
      [matRippleUnbounded]="rippleUnbounded"

      mat-flat-button	(click)="button_color_change('4')" [class.myClass]="isClicked4" (click)="router.navigate(['/data'])">
        <p>data uploader</p>
      </button>
      </div>
      <span class="example-spacer"></span>
      <mat-icon class="searchIcon" matPrefix>search</mat-icon>
      <mat-form-field floatLabel="never" class="searchbar">
        <input #searchInput matInput  (keyup.enter)="applyFilter($event)" placeholder="Suche ...">
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>
</div>



