


.example-spacer {
  flex: 1 1 auto;
}

.mat-flat-button{
  background-color: #3cc800,;
  text-transform: uppercase;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  line-height:60px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  color: #ffffff;

}

.mat-flat-button:hover{
  background-color: #41d303;
  color: #ffffff;
}

.search {
  height: 60px;
  width: 60px;
}

.search:hover {
  background-color: #41d303;
  color: #ffffff;
}
