<mat-toolbar color="primary">
  <mat-toolbar-row>

    <!-- <img src="src\app\assets\Images\Trashmaster.svg" alt=""> -->
    <!-- Logo wird nicht angezeigt keine Ahnung warum-->

    <button mat-flat-button	 (click)="router.navigate(['/'])">
      <p>home</p>
    </button>

    <button mat-flat-button	 (click)="router.navigate(['/alltips'])">
      <p>alltips</p>
    </button>
    <button mat-flat-button	 (click)="router.navigate(['/questionnaire'])">
      <p>questionnaire</p>
    </button>
    <button mat-flat-button	 (click)="router.navigate(['/quiz'])">
      <p>quiz</p>
    </button>
    <button mat-flat-button	 (click)="router.navigate(['/data'])">
      <p>data uploader</p>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button (click)="router.navigate(['/data'])" class="search" aria-label="search-button">
      <mat-icon>search</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

