.example-spacer {
  flex: 1 1 auto;
}


.logo {
  display: inline-block;
  height: 70px;
  vertical-align:middle;
}

.mat-flat-button{
  background-color: #3cc800;
  text-transform: uppercase;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  line-height:60px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  color: #ffffff;

}

.mat-flat-button:hover{
  background-color: #41d303;
  color: #ffffff;
}



.searchIcon {
  line-height:20px;
  margin-right: 10px;
  color: #ffffff;
}


.searchbar {
  color: #ffffff;
}

.searchbar:active {
  color: #00ff2a;
}

.mat-form-field {
  font-size: 14px;
}

.myClass{
  background-color : #41d303;
}
