<div class="banner_image">
  <div class="banner_content">
    <h1>Questionnaire<br/>
      <span>fülle alle Fragen aus um dein Produkt einzukategorisieren!</span>
    </h1>
  </div>
</div>


<div class="content">
  <div class="card">
    <p class="card__image">Ist das Produkt aus Holz?</p>
    <div class="card__content">
      <mat-radio-group required formControlName="Plastic">
        <mat-radio-button value="ja">Ja</mat-radio-button>
        <mat-radio-button value="nein">Nein</mat-radio-button>
        <mat-radio-button value="ka">Keine Ahnung</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="card">
    <p class="card__image">Ist das Produkt aus Holz?</p>
    <div class="card__content">
      <mat-radio-group required formControlName="Plastic">
        <mat-radio-button value="ja">Ja</mat-radio-button>
        <mat-radio-button value="nein">Nein</mat-radio-button>
        <mat-radio-button value="ka">Keine Ahnung</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="card">
    <p class="card__image">Ist das Produkt aus Holz?</p>
    <div class="card__content">
      <mat-radio-group required formControlName="Plastic">
        <mat-radio-button value="ja">Ja</mat-radio-button>
        <mat-radio-button value="nein">Nein</mat-radio-button>
        <mat-radio-button value="ka">Keine Ahnung</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="card">
    <p class="card__image">Ist das Produkt aus Holz?</p>
    <div class="card__content">
      <mat-radio-group required formControlName="Plastic">
        <mat-radio-button value="ja">Ja</mat-radio-button>
        <mat-radio-button value="nein">Nein</mat-radio-button>
        <mat-radio-button value="ka">Keine Ahnung</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="card">
    <p class="card__image">Ist das Produkt aus Holz?</p>
    <div class="card__content">
      <mat-radio-group required formControlName="Plastic">
        <mat-radio-button value="ja">Ja</mat-radio-button>
        <mat-radio-button value="nein">Nein</mat-radio-button>
        <mat-radio-button value="ka">Keine Ahnung</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="card">
    <p class="card__image">Ist das Produkt aus Holz?</p>
    <div class="card__content">
      <mat-radio-group required formControlName="Plastic">
        <mat-radio-button value="ja">Ja</mat-radio-button>
        <mat-radio-button value="nein">Nein</mat-radio-button>
        <mat-radio-button value="ka">Keine Ahnung</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<button class="btn" mat-raised-button color="accent" type="submit">Suche</button>


<!--
<div class="cards">
  <form [formGroup]="form" (submit)="onCheckQuestionnaire()">
  <div class="card">
    <img class="card__image" src="https://fakeimg.pl/400x300/009578/fff/" alt="">
    <div class="card__content">
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="https://fakeimg.pl/400x300/009578/fff/" alt="">
    <div class="card__content">
    </div>
  </div>
  </form>
</div>
-->





