<div class="banner_image">
  <div class="banner_content">
    <h1>Trashmaster<br/>
      <span>keep the planet green.</span>
    </h1>
  </div>
</div>

<div class="about" id="about">
  <h1 class="title_about">Über uns</h1>
  <p>Trashmaster verfolgt Ziele 6, 11, 12, 13 der Sustainable Development Goals. Heutzutage steht der Umwelt und Klimaschutz im Vordergrund. Es wird sich bemüht möglichst Umweltschonend zu agieren. Darunter fällt unteranderem das richtige entsorgung des Mülls. Außerdem ist es wichtig zu wissen wo welche Produkte entsorgt werden müssen, denn nicht immer ist klar, was in welche Tonne gehört. Die Trashmaster Anwendung soll bei diesem Problem abhilfe leisten. Ziel ist es den Anwendern eine Nutzerfläche zu bieten in der sie sich über Tipps zur richtigen Müllentsorgung informieren können und nachschlagen können welche Produkte wo richtig ensorgt werden.</p>
  <div class="btn"><a href="https://unric.org/de/17ziele/">Learn More</a></div>
</div>

<div class="services" id="services">
  <h1 class="title_services">Services</h1>
  <p>Mit unseren weitläufigen Funktionen, lernst du unsere Webseite kennen. Sie helfen dir wissen anzueigenen und zeigen wie verschiedene Produkte Umweltgerecht entsorgt werden sollen.</p>

  <div class="diff_services">
    <div class="diff_service_item">
      <a  [routerLink]="['/questionnaire']"><img src="../../../assets/images/Questionaire.png" alt="Service_image"></a>
      <h3>Questionaire</h3>
      <p>Du weißt nicht wie du dein Produkt richtig zuordnest? <br/> Dann nutze den Questionnaire und suche ähnliche Produkte!</p>
    </div>
    <div class="diff_service_item">
      <a  [routerLink]="['/alltips']"><img src="../../../assets/images/Alltips.png" alt="Service_image"></a>
      <h3>Alltips</h3>
      <p>Nutze unsere weitläufigen Tipps zur richtige Müllentsorgung. <br/> lerne, verstehe und wende an. </p>
    </div>
    <div class="diff_service_item">
      <a  [routerLink]="['/quiz']"><img src="../../../assets/images/Quiz.png" alt="Service_image"></a>
      <h3>Quiz</h3>
      <p>Teste dein Wissen jetzt und stell den neuen Highscore auf!</p>
    </div>
  </div>
</div>

<div class="container2">
  <div class="bg1">
    <h2>67,4<span>%</span></h2>
    <p>Entsorgen Müll falsch</p>
  </div>
  <div class="bg2">
    <h2>2<span> Milliarden</span></h2>
    <p>Plastiktüten, deutschlandweit jährlich verbraucht</p>
  </div>
  <div class="bg2">
    <h2>86<span> Mill. t</span></h2>
    <p>Plastikmüll im Meer</p>
  </div>
  <div class="bg1">
    <h2>39<span>%</span></h2>
    <p>Bioabfälle</p>
  </div>
  <div class="bg1">
    <h2>27<span>%</span></h2>
    <p>trockene Wertstoffe</p>
  </div>
  <div class="bg2">
    <h2>417<span> Mill. t</span></h2>
    <p>Abfallaufkommen</p>
  </div>
  <div class="bg1">
    <h2>457<span>kg</span></h2>
    <p>Haushaltsabfälle je Einwohner</p>
  </div>
  <div class="bg1">
    <h2>187<span>kg</span></h2>
    <p>Haus- und Sperrmüll je Einwohner</p>
  </div>
  <div class="bg2">
    <h2>23,9<span>Mill. t</span></h2>
    <p>gefährliche Abfälle erzeugt</p>
  </div>
</div>

<div class="footer">
  <a href="#">@ 2021 Trashmaster</a>
</div>

<div class="arrow">
  <a href="#"><img src="https://i.imgur.com/wre6n0O.png" alt="up_arrow"></a>
</div>

