<!--<div class="container">
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Bio</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Chemikalien</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Stoffe</p>
  </button>
  <button class="btn btn-center" (click)="router.navigate(['/alltips/category1'])">
    <p>Plastik</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Metalle</p>
  </button>
</div>
-->
<div  class="container2">
  <button  class="btn btn-center" (click)="navigateToOrigin()">
    <p>Zurück</p>
  </button>
</div>

<div class="box2">
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>
<div class="box2">
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>
<div class="box2">
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>
<div class="box2">
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>
<div class="box2">
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>
<div class="box2">
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>
