<div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>

<div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
  <div class="box">
    <app-one-tip></app-one-tip>
  </div>
</div>
