<div class="container">
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Bio</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Chemikalien</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Stoffe</p>
  </button>
  <button class="btn btn-center" (click)="router.navigate(['/alltips/category1'])">
    <p>Plastik</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Metalle</p>
  </button>
</div>


