<div class="container">
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Bio</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Chemikalien</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Stoffe</p>
  </button>
  <button class="btn btn-center" (click)="router.navigate(['/alltips/category1'])">
    <p>Plastik</p>
  </button>
  <button class="btn btn-center"	(click)="router.navigate(['/alltips/category1'])">
    <p>Metalle</p>
  </button>
</div>

<div class="container2">
  <div class="bg1">
    <h2>67,4<span>%</span></h2>
    <p>Entsorgen Müll falsch</p>
  </div>
  <div class="bg2">
    <h2><i class="fas fa-battery-three-quarters"></i></h2>
    <p>Respiration</p>
  </div>
  <div class="bg2">
    <h2><i class="fas fa-running"></i></h2>
    <p>Miles</p>
  </div>
  <div class="bg1">
    <h2>39<span>%</span></h2>
    <p>Bioabfälle</p>
  </div>
  <div class="bg1">
    <h2>27<span>%</span></h2>
    <p>trockene Wertstoffe</p>
  </div>
  <div class="bg2">
    <h2>23,9 Millionen Tonnen</h2>
    <p>2019 an gefährlichen Abfällen in Deutschland erzeugt</p>
  </div>
  <div class="bg1">
    <h2>200<span>mil. Tonnen</span></h2>
    <p>Atommüll</p>
  </div>
  <div class="bg1">
    <h2>28 <span>%</span></h2>
    <p>Fat Percentage</p>
  </div>
  <div class="bg2">
    <h2>118 <span>mgdl</span></h2>
    <p>Blood Glucose</p>
  </div>
  <div class="bg1">
    <h2>Macht was!</h2>
    <p>bevor es zu spät ist ...</p>
  </div>
  <div class="bg2">
    <h2>28 <span>%</span></h2>
    <p>Fat Percentage</p>
  </div>
  <div class="bg2">
    <h2>118 <span>mgdl</span></h2>
    <p>Blood Glucose</p>
  </div>
</div>
