.example-card {
  height: 500px;
  width: 300px;
  background-color: #4e4e4e;
  border-radius: 10px;
}


.allgemein {
  background-image: url(../../../../assets/images/Muellwagen.svg);
  background-size:cover;
}

.blau {
  background-image: url(../../../../assets/images/Blaue_Tonne.svg);
  background-size:cover;
}
.gelb {
  background-image: url(../../../../assets/images/Gelbe_Tonne.svg);
  background-size:cover;
}
.braun {
  background-image: url(../../../../assets/images/Braune_Tonne.svg);
  background-size:cover;
}

.schwarz {
  background-image: url(../../../../assets/images/Schwarze_Tonne.svg);
  background-size:cover;
}
.glas {
  background-image: url(../../../../assets/images/Glas.svg);
  background-size:cover;
}
.sondermuell {
  background-image: url(../../../../assets/images/Schaedel.svg);
  background-size:cover;
}
